body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

/* JOIN SCREEN */
.join-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  color: white;
}

.join-screen input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.join-screen button {
  padding: 10px 20px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

/* MAIN LAYOUT */
.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.username {
  font-size: 0.9rem;
  opacity: 0.7;
}

.users {
  margin-top: 20px;
}

/* CHAT */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #0f172a;
}

.chat-header {
  padding: 15px;
  border-bottom: 1px solid #334155;
  color: white;
}

/* MESSAGES */
.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #334155;
  color: white;
}

.message.own {
  align-self: flex-end;
  background: #2563eb;
}

.user {
  font-size: 0.7rem;
  opacity: 0.6;
}

/* INPUT */
.input-box {
  display: flex;
  border-top: 1px solid #334155;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  background: #020617;
  color: white;
}

.input-box button {
  padding: 12px 20px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

.input-box button:hover {
  background: #1d4ed8;
}