body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0f172a;
}

/* JOIN */
.join-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-card {
  background: #1e293b;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.join-card input {
  padding: 10px;
  width: 200px;
  margin: 10px 0;
}

.join-card button {
  padding: 10px 20px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
}

/* LAYOUT */
.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #1e293b;
  padding: 20px;
  color: white;
  transition: 0.3s;
}

.sidebar.closed {
  width: 0;
  padding: 0;
  overflow: hidden;
}

.me {
  margin-top: 20px;
  opacity: 0.7;
}

/* CHAT */
.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.chat-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  background: #020617;
  color: white;
  border-bottom: 1px solid #334155;
}

/* MESSAGES */
.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.bubble {
  max-width: 60%;
  background: #334155;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
  color: white;
}

.bubble span {
  font-size: 0.7rem;
  opacity: 0.6;
}

.bubble.own {
  margin-left: auto;
  background: #3b82f6;
}

/* INPUT */
.input {
  display: flex;
  padding: 10px;
  background: #020617;
}

.input input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  background: #1e293b;
  color: white;
  border-radius: 8px;
}

.input button {
  margin-left: 10px;
  padding: 12px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}